#wrap-content {
    width: 750px;
    /*height: 500px;*/
    border: 1px solid #000;
    margin: 0 auto;
    padding: 0;
}
.map-image-holder {
    text-align: center;
    position: relative;
}
#wrap-content img {
    width: 750px;
    margin: 0;
    padding: 0;
}
.map-image-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 26px;
    background-image: url("../images/icon.png");
    opacity: 1 !important;
}